.formContainer {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 5fr 1fr;
  #todo-filter {
    border: none;
    color: $font-color;
    padding: 10px;
    outline: none;
    &:focus {
      outline: none;
    }
  }
  form {
    display: flex;
    border-bottom: 1px solid $secondary-color;
    margin-right: 15px;
    padding: 0px 15px;
    justify-content: space-between;
    #addToDo {
      width: 85%;
    }
    #addToDoSubmit {
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      img {
        transition: all 0.2s;
        &:hover {
          filter: invert(100%);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .formContainer {
    display: flex;
    flex-direction: column-reverse;
    #todo-filter {
      border-bottom: 1px solid $secondary-color;
      margin-bottom: 10px;
    }
    .form {
      margin-right: 0;
    }
  }
}
