// $background-color: #f2ebe5;
// $font-color: #2b262d;
// $header-color: #9f496e;
// $secondary-color: #647295;
$white-color: #fff;
$background-color: #faeefa;
$font-color: #560238;
$rose-neon-color: #f40097;
$gradient: linear-gradient(
  124deg,
  rgba(255, 77, 187, 1) 0%,
  rgba(230, 0, 142, 1) 100%
);
$header-color: #e6008e;
$secondary-color: #d281b5;
$rose-color: #9f2c75;
$green-gradient: linear-gradient(
  124deg,
  rgba(102, 255, 0, 1) 0%,
  rgba(50, 205, 50, 1) 100%
);
$green-color: #32cd32;
