@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: 'Montserrat', 'sans-serif';
  background: #fff;
  color: #560238;
  min-height: 100vh;
  margin: 0;
}

h1,
h2 {
  color: #fff;
  margin: 15px;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin-top: 0;
}

header {
  background: linear-gradient(124deg, #ff4dbb 0%, #e6008e 100%);
  padding: 30px 15px;
}

button {
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input {
  height: 30px;
  background: transparent;
  border: none;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  background: transparent;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
  text-align: center;
}

.d-none {
  display: none;
}

.progressBar {
  min-height: 60px;
  margin: 15px 0;
  padding: 15px 0;
}

.progressBar div {
  border: 1px solid #faeefa;
  border-radius: '4px';
}

.progressBar div div {
  height: 4px;
  background: linear-gradient(124deg, #66ff00 0%, limegreen 100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.formContainer {
  margin: 15px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
}

.formContainer #todo-filter {
  border: none;
  color: #560238;
  padding: 10px;
  outline: none;
}

.formContainer #todo-filter:focus {
  outline: none;
}

.formContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d281b5;
  margin-right: 15px;
  padding: 0px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formContainer form #addToDo {
  width: 85%;
}

.formContainer form #addToDoSubmit {
  width: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

.formContainer form #addToDoSubmit img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.formContainer form #addToDoSubmit img:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media screen and (max-width: 767px) {
  .formContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .formContainer #todo-filter {
    border-bottom: 1px solid #d281b5;
    margin-bottom: 10px;
  }
  .formContainer .form {
    margin-right: 0;
  }
}

#todos-list {
  padding-left: 0;
}

#todos-list .toDoWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #faeefa;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 4px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#todos-list .toDoWrapper img {
  width: 30px;
}

#todos-list .toDoWrapper input {
  text-align-last: left;
  margin: 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s 0s;
  transition: all 0.3s 0s;
}

#todos-list .toDoWrapper label {
  cursor: pointer;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #f40097;
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#todos-list .toDoWrapper label input[type='checkbox'] {
  display: none;
}

#todos-list .toDoWrapper button {
  margin: auto;
  padding: 20px;
  cursor: pointer;
}

#todos-list .toDoWrapper button img {
  width: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#todos-list .toDoWrapper button img:hover {
  -webkit-filter: saturate(0.5);
          filter: saturate(0.5);
}

#todos-list .toDoWrapper.undone input {
  pointer-events: all;
}

#todos-list .toDoWrapper.undone input:hover {
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  cursor: pointer;
  border-color: #d281b5;
}

#todos-list .toDoWrapper.undone input label {
  border-color: #f40097;
}

#todos-list .toDoWrapper.done input {
  text-decoration: line-through;
  opacity: 0.5;
}

#todos-list .toDoWrapper.done label {
  background-blend-mode: multiply;
  border: #32cd32;
  background: linear-gradient(124deg, #66ff00 0%, limegreen 100%);
  position: relative;
}

#todos-list .toDoWrapper.done label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../src/img/check.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
}

#btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#btn-container button {
  display: inline-block;
  padding: 10px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 15px;
  font-weight: 600;
  background: white;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

#btn-container button:hover {
  color: #fff;
}

#btn-container button.d-none {
  display: none;
}

#btn-container button#buttonCheckAll {
  border: 1px solid #32cd32;
  color: #32cd32;
}

#btn-container button#buttonCheckAll:hover {
  -webkit-box-shadow: 0 0 40px 40px #32cd32 inset;
          box-shadow: 0 0 40px 40px #32cd32 inset;
  color: #fff;
}

#btn-container button#buttonCheckAll:disabled {
  opacity: 0.5;
  cursor: auto;
}

#btn-container button#buttonDeleteAll {
  border: 1px solid #560238;
  color: #560238;
}

#btn-container button#buttonDeleteAll:hover {
  -webkit-box-shadow: 0 0 40px 40px #560238 inset;
          box-shadow: 0 0 40px 40px #560238 inset;
  color: #fff;
}

#btn-container.d-none {
  display: none;
}

@media screen and (max-width: 767px) {
  #btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #btn-container button {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  header {
    padding: 20px 10px;
  }
}
/*# sourceMappingURL=style.css.map */