@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './variables/colors';

body {
  font-family: 'Montserrat', 'sans-serif';
  background: $white-color;
  color: $font-color;
  margin: 0;
}
main {
  min-height: 70vh;
}
h1,
h2 {
  margin: 15px;
}

h1 {
  margin-bottom: 0px;
}
h2 {
  margin-top: 0;
}
footer,
header {
  padding: 30px 15px;
}
header {
  background: $gradient;
  color: $white-color;
}
footer {
  padding: 0;
  background: none;
  color: $font-color;
  & .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    ol {
      padding-left: 0;
      margin-left: 17px;
    }
    h2 {
      margin-left: 0;
      text-align: left;
    }
    h2,
    li {
      text-align: left;
      font-size: 0.8em;
    }
    p {
      margin: 5px;
      font-size: 0.8em;
    }
  }
}
button {
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

input {
  height: 30px;
  background: transparent;
  border: none;
  &:focus {
    outline: none;
  }
  &:-webkit-autofill {
    box-shadow: inset 0 0 0 50px $white-color !important;
    -webkit-text-fill-color: $font-color !important;
    color: $font-color !important;
  }
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
  text-align: center;
}
.d-none {
  display: none;
}

@import './components/progressBar';
@import './components/form';
@import './components/todolist';
@import './components/buttonsContainer';
@import './components/popup';

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  header {
    padding: 20px 10px;
  }
  footer {
    & .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p,
      h2 {
        text-align: center;
      }
      li {
        text-align: left;
      }
    }
  }
}
